frmQuanLyLIAM/.vs/frmQuanLyLIAM/FileContentIndex/3b5516ab-d3df-430e-9b7c-2cabb30d3d3e.vsidx
frmQuanLyLIAM/.vs/frmQuanLyLIAM/FileContentIndex/72da67fc-301d-4a95-81c8-b87ae683f260.vsidx
frmQuanLyLIAM/.vs/frmQuanLyLIAM/FileContentIndex/ba804fff-a2cd-4967-a5e4-c95df638437b.vsidx
frmQuanLyLIAM/.vs/frmQuanLyLIAM/FileContentIndex/cd380a96-2028-4147-8edd-bce6568e1d84.vsidx
frmQuanLyLIAM/.vs/frmQuanLyLIAM/FileContentIndex/ef4e4268-0f67-4410-8534-382cdf98a921.vsidx
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.Identity.Client.Extensions.Msal.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Abstractions.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.IdentityModel.JsonWebTokens.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Logging.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Protocols.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.SqlServer.Server.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Tokens.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/pl/Microsoft.Data.SqlClient.resources.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/pt-BR/Microsoft.Data.SqlClient.resources.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/ru/Microsoft.Data.SqlClient.resources.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/unix/lib/net8.0/Microsoft.Data.SqlClient.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/unix/lib/net8.0/System.Data.SqlClient.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win-arm64/native/sni.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win-x64/native/sni.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win-x86/native/sni.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win/lib/net7.0/System.Management.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/Microsoft.Data.SqlClient.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/System.Data.SqlClient.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.ClientModel.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.Configuration.ConfigurationManager.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.Data.SqlClient.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.Diagnostics.EventLog.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.IdentityModel.Tokens.Jwt.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.Management.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.Memory.Data.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/System.Security.Cryptography.Pkcs.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/tr/Microsoft.Data.SqlClient.resources.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/zh-Hans/Microsoft.Data.SqlClient.resources.dll
frmQuanLyLIAM/bin/Debug/net8.0-windows/zh-Hant/Microsoft.Data.SqlClient.resources.dll
frmQuanLyLIAM/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.AssemblyInfo.cs
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.AssemblyInfoInputs.cache
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.assets.cache
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.csproj.AssemblyReference.cache
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.designer.deps.json
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.designer.runtimeconfig.json
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.GeneratedMSBuildEditorConfig.editorconfig
frmQuanLyLIAM/obj/Debug/net8.0-windows/frmQuanLyLIAM.GlobalUsings.g.cs
frmQuanLyLIAM/obj/frmQuanLyLIAM.csproj.nuget.dgspec.json
frmQuanLyLIAM/obj/frmQuanLyLIAM.csproj.nuget.g.props
frmQuanLyLIAM/obj/frmQuanLyLIAM.csproj.nuget.g.targets
frmQuanLyLIAM/obj/project.assets.json
frmQuanLyLIAM/obj/project.nuget.cache
frmQuanLyLIAM/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
frmQuanLyLIAM/obj/Release/net8.0-windows/frmQuanLyLIAM.AssemblyInfo.cs
frmQuanLyLIAM/obj/Release/net8.0-windows/frmQuanLyLIAM.AssemblyInfoInputs.cache
frmQuanLyLIAM/obj/Release/net8.0-windows/frmQuanLyLIAM.GeneratedMSBuildEditorConfig.editorconfig
frmQuanLyLIAM/obj/Release/net8.0-windows/frmQuanLyLIAM.GlobalUsings.g.cs
